{{define "indexHTML"}}

{{template "headHTML" .}}
<body class="w3-light-grey">
{{template "headerHTML" .}}

{{template "clockHTML" .}}

{{template "footerHTML" .}}

<script type="text/javascript">
    $(document).ready(function () {
        var d = new Date();
        var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

        var date = document.getElementById("date");
        var time = document.getElementById("time");

        function getDate() {
            date.innerHTML = monthNames[d.getMonth()] + " " + d.getDate() + ", " + d.getFullYear();
        }

        function timer() {
            var d = new Date();
            var hours = d.getHours();
            var minutes = d.getMinutes();
            var ampm = hours <= 11 ? 'am' : 'pm';
            var strTime = [hours % 12,
                (minutes < 10 ? "0" + minutes : minutes)
            ].join(':') + ampm;
            time.innerHTML = strTime;
        }

        getDate();
        timer();

        setInterval(getDate, 60000);
        setInterval(timer, 10000);
    });
</script>

</body>
</html>
{{end}}
