{{define "setupHTML"}}

{{template "headHTML" .}}
<body class="w3-light-grey">
{{template "headerHTML" .}}
{{template "clockHTML" .}}

<div class="w3-content w3-margin-top" style="max-width:1400px;">
    <div class="w3-row-padding">

        <div id="parent" class="w3-white w3-text-grey w3-card-4">
            {{.SetupSpotifyNotification}} <br/>
            <a href="{{.SetupSpotifyLink}}">Login with Spotify</a>
        </div>
    </div>
</div>

{{template "footerHTML" .}}

</body>
</html>

{{end}}